<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
    <script src="https://hypothes.is/embed.js" async></script>
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <div class="container">
     <!-- {{ partial "header.html" . }}-->
      <div id="sidebar">
				{{ partial "sidebar.html" . }}
		
      <div class="content">
        {{ block "main" . }}
        {{ end }}
      </div>
    </div>
      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ if $.Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>