<!--FROM HYDE THEME -->
<aside class="sidebar">
		<span class="theme-toggle">
				{{ partial "theme-icon.html" . }}
			  </span>
	<div class="container sidebar-sticky">
		{{ partial "site-icon.html" . }}
	  <div class="logobox">
		{{ partial "logo.html" . }}	
		
	  </div>		
	  <div class="sidebar-about">
		<!--<a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>-->
		<p class="lead">
		{{ with .Site.Params.description }} {{.}} {{ else }}An elegant open source and mobile first theme for <a href="http://hugo.spf13.com">hugo</a> made by <a href="http://twitter.com/mdo">@mdo</a>. Originally made for Jekyll.{{end}}
		</p>
	  </div>
  
	  <nav>
		<ul class="sidebar-nav">
		  <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
		  {{ range .Site.Menus.main -}}
			<li><a href="{{.URL}}"> {{ .Name }} </a></li>
		  {{- end }}
		</ul>
	  </nav>
	  <div class="tag_list">
	  {{ partial "tag_list.html" . }}	
	  </div>
	  <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
	</div>
  </aside>
  <!--FROM HYDE THEME -->