
<!--FROM MAINROAD THEME BY VIMUX-->
<!--adds a tag list to the sidebar-->

{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
	<h3 class="widget__title">Tags</h3>
	<div class="widget__content">
	{{- range $name, $taxonomy := $tags }}
		{{- with $.Site.GetPage (printf "/tags/%s" $name) }}
		<a class="widget-taglist__link widget__link btn" href="{{ .RelPermalink }}" title="{{ .Title }}">
			{{- .Title -}}{{- if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
		</a>
		{{- end }}
	{{- end }}
	</div>
</div>
{{- end }}