/* FROM THE HYDE THEME
 * Sidebar 
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

 .sidebar {
	text-align: center;
	padding: 2rem 1rem;
	color:#737473;
	background-color: #252627;
  }
  @media (min-width: 48em) {
	.sidebar {
	  position: fixed;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  /*width: 18rem;*/
	  width: 22rem;
	  text-align: left;
	}
  }
  
  /* Sidebar links */
  .sidebar a {

	color: #a9a9b3;	
	text-decoration: none !important; /*remove link underline */
  }
  
  .sidebar p {
	
	color: #737473;	
  } 
  /* About section */
  .sidebar-about h1 {
	color: #a9a9b3;
	margin-top: 0;
	font-family: "Inter-Bold", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 3.25rem;
  }
  
  /* Sidebar nav */
  .sidebar-nav {
	padding-left: 0;
	list-style: none;
	margin-left:0.4em ;
  }
  .sidebar-nav-item {
	display: block;
  }
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
	text-decoration: underline;
  }
  .sidebar-nav-item.active {
	font-weight: bold;
  }
  

  /* Sticky sidebar
   *
   * Add the `sidebar-sticky` class to the sidebar's container to affix it the
   * contents to the bottom of the sidebar in tablets and up.
   */
  /*
  @media (min-width: 48em) {
	.sidebar-sticky {
	  position: absolute;
	  right:  1rem;
	  bottom: 1rem;
	  left:   1rem;
	}
  }
  
  */

  /* Container
   *
   * Align the contents of the site above the proper threshold with some margin-fu
   * with a 25%-wide `.sidebar`.
   */
  
  .content {
	padding-top:    4rem;
	padding-bottom: 4rem;
  }
  
  @media (min-width: 48em) {
	.content {
	  max-width: 38rem;
	  /*margin-left: 20rem;*/
	  margin-left: 26rem;
	  margin-right: 2rem;
	}
  }
  
  @media (min-width: 64em) {
	.content {
	  /*margin-left: 22rem;*/
	  margin-left: 28rem;
	  margin-right: 4rem;
	}
  }

  @media (max-width: 768px) {
	.posts {
	  max-width: 100%;
	  padding: 0 20px; /* Optional: Add padding to the sides for better readability */
	  box-sizing: border-box;
	  margin: 0 auto; /* Optional: Center the content */
	}
  }


/* format footer to work with the sidebar */

  .footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*margin: 0 auto;
		margin-right: auto;
		margin-left: auto;*/
	width: 760px;
	max-width: 80%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	/*max-width: 38rem;
	margin-left: 20rem;
	margin-right: 2rem;*/
}

@media (min-width: 48em) {
.footer__inner {
  max-width: 38rem;
  /*margin-left: 20rem;*/
  margin-left: 26rem;
  margin-right: 2rem;
}
}

@media (min-width: 64em) {
.footer__inner {
  /*margin-left: 22rem;*/
  margin-left: 28rem;
  margin-right: 4rem;
}
}

/** format post covers to work with the sidebar **/

.post-cover {
	border-radius: 8px;
	box-shadow: 0 12px 40px rgba(0,0,0,.15);
	margin: 2rem;
	max-width: 30rem;
	width: 28rem;
}
  
 /** Rounded circles for icons **/
  
   .circle-img {
	width: 160px;
	height: 160px;
	overflow: hidden;
	background:#fbd39c;
	text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin:0 auto; /*center icon in div*/
	margin-bottom: 2em;
    margin-top: 2em;
}
  
  
  .circle-img img {
	height: 116%;
	transform: translateX(-50%);
	margin-left: 50%; 
  }

  .theme-toggle {
	margin-bottom: 1em;
	margin-top: 1em;
	justify-content: left;
}

.logobox .logo__text {
	font-size: 2.0rem;

}

/* style the blinking cursor */

.logobox .logo__cursor {
	display: inline-block;
	width: 15px;
	height: 1.5rem;
	background: #d4436f;
    margin-left: 8px;
    border-radius: 2px;
    -webkit-animation: cursor 2s infinite;
    animation: cursor 2s infinite;
}

.logo__cursor {
	-webkit-animation: cursor 2s infinite;
    animation: cursor 2s infinite;
}




/*TAGS FORMATTING MODIFIED FROM MAINROAD THEME */


/* Tags Widget */
.widget__title {
	position: relative;
	padding-bottom: 5px;
	font-size: 16px;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 3px solid {{ $highlightColor }};
}

.widget-taglist__link {
	display: inline-block;
	margin: 0 4px 8px 0;
	font-size: 12px;
	text-transform: uppercase;
}

/* Tags Button */
.btn {
	padding: 5px 10px;
	font-weight: 700;
	color: #fff;
	white-space: pre-line;
	background: #292A2D;
}

.btn:hover {
	color: #fff;
	background: {{ $highlightColor }};
}

/* Post tags */
.tags {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	font-size: 12px;
	font-size: .75rem;
	line-height: 1;
	color: #fff;
}

.tags__list {
	list-style: none;
}

.tags__link,
.tags__link:hover {
	display: block;
	padding: 10px 15px;
}


/* additional markdown styling for posts */

h1, h3{
	color:#a9a9b3 ;	
}


h2 {
	/*font-family: Asap;*/
	color: #d4436f ;
}

h4 {
  color: #40E0D0 ;
}
  
  h5,h6 {	
  font-style: italic;
  color: #d580ff ;
  font-size: 1.110rem;
}

b,
dt,
strong {
	  color:  #d4436f;
	}



blockquote {
	color: #24c1e0;
	padding: 10px 20px;
	background: rgba(36, 193, 224, 0.03);
	border-left: 1px solid #24c1e0;
	  }


/* psuedo-classses for image styling for within posts (markdown hacks) */


img[src*="#thumbnail"] {
		width:150px;
		height:150px;
	 }
	 
img[src*="bordered"] {
		border: 3px solid #d4436f;
	 }

img[src*="#hangleft"] {
		float:left;
	 }

	 img[src*="#hangright"] {
		float:right;
	 }
/* style images by selecting/overloading alt text */
/*img[alt="Meet the new boss"] {
		width: 400px;
		height: 300px;
		border: 2px solid #24c1e0;
	 }
	 */

/* ADDITIONAL FONTS */

@font-face {
    font-family: 'chapbookdingbats';
    src: url('fonts/chapbook-dingbats-webfont.woff2') format('woff2'),
         url('fonts/chapbook-dingbats-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chapbookitalic';
    src: url('fonts/chapbook-italic-webfont.woff2') format('woff2'),
         url('fonts/chapbook-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chapbookregular';
    src: url('fonts/chapbook-webfont.woff2') format('woff2'),
         url('fonts/chapbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* static/css/custom.css */
em {
	/* Your styling for italic text goes here */
	color: #d580ff; /* Change to your desired color */
	font-style: italic;
  }


  @media (max-width: 768px) {
	.post-cover {
	  max-width: 100%;
	  height: auto; /* Maintain aspect ratio */
      margin-left: 0.5rem;
	}
  }
  