
<!-- layouts/taxonomy/tag.html -->
<!--creates a list of posts for each tag keyword-->
<!---from jakewiesler.com-->

<ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>